# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules
package-lock.json
yarn.lock
.pnpm-store/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.dccache

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
cucumber-output
.scannerwork
reports
.iac-data
.verdaccio
.yarn-cache

# System Files
.DS_Store
Thumbs.db

# Bundlers
.esbuild

# Other
scripts/output

.history/

.nx/cache
.nx/workspace-data
debug/
batch-gross-needs-pcls.txt
batch-gross-needs.txt
batch-income-tax.txt
.serena/

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

**/.sst
